<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>AJAX Demo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".hello-ajax").click(function () {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("HelloAjax")',
                    success: function (result) {
                        $('#result1').html(result);
                    }
                })
            });

            $('.sum').click(function () {
                $.ajax({
                    type: 'GET',
                    data: { firstNumber: 1, secondNumber: 2 },
                    url: '@Url.Action("Sum")',
                    success: function (result) {
                        $('#result2').html(result);
                    }
                });
            });
            $('.display-object').click(function () {
                $.ajax({
                    type: 'GET',
                    dataType: 'json',
                    contentType: 'application/json',
                    url: '@Url.Action("DisplayObject")',
                    success: function (result) {
                        var resultString = 'Id: ' + result.id + '<br>City: ' + result.city + '<br>Country: ' + result.country;
                        $('#result3').html(resultString);
                    }
                });
            });
            $('.display-view').click(function () {
                $.ajax({
                    type: 'GET',
                    dataType: 'html',
                    url: '@Url.Action("DisplayViewWithAjax")',
                    success: function (result) {
                        $('#result4').html(result);
                    }
                });
            });
        });
    </script>

</head>
<body>
    <h1>Ajax Demo</h1>
    <h4 class="hello-ajax">Hello AJAX</h4>
    <div id="result1"></div>

    <h2>Using Parameters</h2>
    <h4 class="sum">Sum</h4>
    <div id="result2"></div>

    <h2>Using JSON to display an object</h2>
    <h4 class="display-object">Display object</h4>
    <div id="result3"></div>

    <h2>Displaying a view</h2>
    <h4 class="display-view">Display view</h4>
    <div id="result4"></div>
</body>
</html>